[submodule "example"]
	path = example
	url = git://github.com/arsduo/oauth_playground.git
[submodule "examples/oauth_playground"]
	path = examples/oauth_playground
	url = git://github.com/arsduo/oauth_playground.git
